{% extends "base.html" %}
{% load crispy_forms_tags %}
{{ form.media }}
{% load static %}

{% block titulo %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h2 class="h2">Clientes</h2>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <a href="/listProspecto" class="btn btn-sm btn-secondary"><i class="fa fa-list-alt" aria-hidden="true"></i> Lista de Clientes</a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<center>
<h3 style="margin-bottom: 1.5%; color: red;">Introduce los siguientes datos</h3>
<form method="POST" class="post-form" name="formulario"  id="forma">
  {% csrf_token %}
  {% crispy form %}
</form>
</center>

<div id="map" style="height: 600px; color: black;"></div>

<script type="text/javascript">
   const map = L.map('map').setView([20.7008,-99.7009], 10);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '© OpenStreetMap'
  }).addTo(map);
  //L.Control.geocoder().addTo(map);

  var geocoder = L.Control.geocoder({
  defaultMarkGeocode: false
})
  .on('markgeocode', function(e) {
    var bbox = e.geocode.bbox;
    var poly = L.polygon([
      bbox.getSouthEast(),
      bbox.getNorthEast(),
      bbox.getNorthWest(),
      bbox.getSouthWest()
    ]).addTo(map);
    map.fitBounds(poly.getBounds());
  })
  .addTo(map);

  var marker = L.marker([0,0], {draggable: true});

var popup = L.popup();
function onMapClick(e) {
    marker.setLatLng(e.latlng).addTo(map);
    marker.bindPopup("" + e.latlng).openPopup();
    coor = e.latlng.toString();
    arr = coor.split(')');
    a = arr[0].toString();
    c = a.substr(7,30);
    document.getElementById("id_coordenadas").value = c;
}
map.on('click', onMapClick);

</script>

{% endblock %}
